.slick-slide {
	&:focus {
		outline: none;
	}
}
.slick-arrow{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 3;
  margin-top: 0;
  @include media-max($medium) {
    top: 40vh;
  }
}
.slick-prev{
  left: rem(30);
  @include media-max($medium) {
    left: rem(20);
  }
}
.slick-next{
  right: rem(30);
  @include media-max($medium) {
    right: rem(20);
  }
}
.slick-slider.slick-dotted {
  margin-bottom: 0;
}
.slick-dots{
  position: absolute;
  bottom: rem(45);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  @include media-max($medium) {
    bottom: rem(25);
  }
}
.slick-slider {
	margin:0 -15px;
}
.slick-slide {
	padding:10px;
	text-align:center;
	margin-right:15px;
	margin-left:15px;
}

.slick-prev:before {
	content: "<";
	color: red;
	font-size: 30px;
	display: none;
}

.slick-next:before {
	content: ">";
	color: red;
	font-size: 30px;
	display: none;
}

.slick-next, .slick-prev {
	width: rem(32);
	height: rem(32);
	border-radius: 50%;
	&:focus {
		outline: none;
		border: none;
		.slick-next-icon, .slick-prev-icon {
			color: $black-700;
		}
	}
	&:hover {
		background: transparent;
	}
}

.slick-next .slick-next-icon, .slick-next .slick-prev-icon, .slick-prev .slick-next-icon, .slick-prev .slick-prev-icon {
	font-size: 30px;
	color: $white-primary;
}

.slick-dots li button .slick-dot-icon, .slick-dots li.slick-active button .slick-dot-icon {
	color: $white-primary;
}
.slick-dots li button:focus .slick-dot-icon:before{
  color: $black-100;
}
