/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/blocks/_media-with-content.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/*---------------------------------
		RWest Theme Variables
-----------------------------------*/
/*---------------------------------
		RWest Theme Colors Variables
-----------------------------------*/
/*---------------------------------
		Opacity
-----------------------------------*/
/*---------------------------------
		Gradient
-----------------------------------*/
/*---------------------------------
		Element Colors
-----------------------------------*/
/*---------------------------------
		Border Colors
-----------------------------------*/
/*----------------
		Font
------------------*/
/*---------------------------------
		Font Weights
-----------------------------------*/
/**
 * Add font scale with media query as per configuration on $body-text
 * Ex: @include body-text( h1 );
 * This will add font-size and line-height with different breakpoints.
 */
.media-with-content .columns {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.media-with-content .content {
  padding: 2.5rem;
}
.media-with-content .content h3 {
  margin-bottom: 0.625rem;
}
@media only screen and (max-width: 640px) {
  .media-with-content .content h3 {
    font-size: 2.25rem;
  }
}
.media-with-content .content h5 {
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.media-with-content .content p {
  margin-bottom: 1.25rem 0;
}
.media-with-content .content p.detail {
  margin-bottom: 1.25rem;
  font-weight: 500;
  color: #595959;
}
.media-with-content .columns.flush {
  padding: 0 !important;
}
.media-with-content .columns.flush picture,
.media-with-content .columns.flush img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
.media-with-content .columns.contained img {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 640px) {
  .media-with-content .columns.contained {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .media-with-content .columns.contained {
    padding-left: 0.9375rem;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .media-with-content .columns.contained {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

/*# sourceMappingURL=media-with-content.css.map*/