@import "../settings/variables";
.media-with-content{
  .columns{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
  .content {
    padding: rem(40);
    
    h3 {
      margin-bottom: rem(10);
      @include media-max($medium) {
        font-size: rem(36);
      }
    }
    h5 {
      font-weight: $semibold;
      margin-bottom: rem(20);
    }
    p {
      margin-bottom: rem(20) 0;
    }
    p.detail {
      margin-bottom: rem(20);
      font-weight: $semibold;
      color: $black-700;
    }
  }
  .columns.flush {
    padding: 0 !important;
    picture,
    img {
      object-fit: cover;
    	height: 100%;
    	width: 100%;
      min-height: 100%;
      // @include media-max($medium) {
      //   min-height: 260px;
      // }
    }
  }
  .columns.contained {
    img {
      margin-left: auto;
      margin-right: auto;
    }
    @include media-max($medium) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    @media screen and (min-width: 601px) and (max-width: 1023px) {
      padding-left: $gutter-width;
      padding-right: 0;
    }
    @include media-min($large) {
      padding-left: $gutter-width;
      padding-right: $gutter-width;
    }
  }
  // @media screen and (min-width: 641px) and (max-width: 1023px) {
  //   .columns.medium-5, .columns.medium-7 {
  //     flex: 0 0 100%;
  //     max-width: 100%;
  //   }
  // }
}
