@import "../../settings/variables";
.testimonial{
	padding: rem(48) 0;
	h3{
		text-align: center;
		width: 100%;
		margin-bottom: 1rem;
	}
	.row{
		max-width: rem(600);
	}
	.columns{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column ;
	}
	blockquote{
		margin: 0;
	}

}
@import "theme";