.footer-inner.row{
  max-width: none;
  margin: 0;
}
.footer-bottom{
  padding: rem(50);
  p.footer-statement {
    font-size: rem(16);
    text-align: center;
    max-width: rem(480);
    margin: 0 auto;
    margin-bottom: rem(30);
    @include media-min($medium) {
      margin-top: rem(30);
    }
    @include media-min($large) {
      max-width: rem(340);
      text-align: left;
      margin-top: 0;
      margin: 0;
    }
  }
  .copyright {
    text-align: left;
    @include media-max($large) {
      text-align: center;
    }
  }
  @include media-max($medium) {
    .columns:nth-of-type(1) { order: 2; }
    .columns:nth-of-type(2) { order: 1; }
    .columns:nth-of-type(3) { order: 3; }
  }
  @include media-min($medium) {
    .columns:nth-of-type(1) { order: 2; }
    .columns:nth-of-type(2) { order: 1; }
    .columns:nth-of-type(3) { order: 3; }
  }
  @include media-max($large) {
    text-align: center;
  }
  @include media-min($large) {
    .columns:nth-of-type(1) { order: 1; }
    .columns:nth-of-type(2) { order: 2; }
    .columns:nth-of-type(3) { order: 3; }
  }
}
.footer-menu{
  li{
    list-style: none;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @include media-max($medium) {
      min-width: 100%;
      margin-bottom: rem(30);
    }
    @include media-max($large) {
      text-align: center;
    }
  }
  .sub-menu {
    margin-left: 0;
    position: relative;
    &:before{
      content: '';
      width: 100px;
      height: 1px;
      background-color: $black-700;
      position: absolute;
      top: -4px;
      left: 0;
      @include media-max($large) {
        display: block;
        margin: 0 auto;
        position: relative;
      }
    }
    li{
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  svg{
    path{
      fill: $white;
      // stroke: $white;
    }
  }
  a{
    // text-transform: uppercase;
    display: block;
    padding: 0;
  }
}
.copyright {
  ul.social {
    list-style: none;
    margin: rem(30) 0;
    li {
      display: inline-block;
      padding: 0 rem(15);
      &:first-of-type {
        @include media-min($large) {
          padding-left: 0;
        }
      }
    }
  }
}
