/*---------------------------------
		Headings and text
-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
	text-rendering: optimizelegibility;
	// text-transform: uppercase;
}
//Headings and Text
h1 {
    font-family: $font__main;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 4px;
    font-weight: $bold;
    @include media-max($large) { // tablet
      font-size: 58px;
    }
    @include media-max($medium) {
        font-size: 40px;
      }
}
h2 {
    font-family: $font__main;
    font-size: 48px;
    line-height: 1.250;
    letter-spacing: 4px;
    font-weight: $bold;
    @include media-max($large) { // tablet
      font-size: 40px;
    }
    @include media-max($medium) {
        font-size: 36px;
      }
}
h3 {
    font-family: $font__main;
    font-size: 40px;
    line-height: 1.250;
    letter-spacing: 2px;
    font-weight: $bold;
    @include media-max($large) { // tablet
      font-size: 32px;
    }
    @include media-max($medium) {
        font-size: 28px;
      }
}
h4 {
    font-family: $font__main;
    font-size: 22px;
    line-height: 1.50;
    letter-spacing: 3px;
    font-weight: $bold;
}
h5 {
    font-family: $font__secondary;
    font-size: 18px;
    line-height: 1.250;
    letter-spacing: 3px;
    font-weight: $bold;
}
p, ul, ol {
   font-family: $font__secondary;
   font-size: 18px;
   line-height: 1.430;
   font-weight: $light;
   @include media-max($medium) {
     font-size: 14px;
   }
}
p.headline-paragraph {
    font-family: $font__secondary;
    font-size: 24px;
    line-height: 1.250;
    font-weight: $light;
    @include media-max($medium) {
      font-size: 14px;
    }
}
a {
  color: $blue-300;
  &:hover {
    color: $blue-300;
    text-decoration: underline;
  }
}
p a {
  font-family: $font__secondary;
  font-size: 18px;
  line-height: 1.350;
  font-weight: $light;
  color: $white-primary;
  text-decoration: underline;
  &:hover {
    color: $blue-300;
  }
  @include media-max($medium) {
    font-size: 14px;
  }
}


//Header Links
header {
	.main-menu a { //h5 styles
		font-family: $font__secondary;
    font-size: 16px;
    line-height: 1.250;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: $black-primary;
    // font-weight: $bold;
    &:hover {
      color: $blue-300;
      text-decoration-color: $black-primary;
    }
	}
}

//Footer Links
footer {
		ul.footer-menu {
			a {
				font-family: $font__main;
				font-size: 22px;
				color: $white-primary;
        text-decoration: underline;
        text-decoration-color: $black-primary;
        letter-spacing: rem(3);
        margin-bottom: rem(10);
				&:hover {
					color: $blue-300;
				}
			}
			.sub-menu a {
				font-family: $font__tertiary;
		    font-size: 18px;
		    line-height: 1.350;
		    font-weight: $normal;//This font wieght not active.
        letter-spacing: 1px;
        padding: rem(10) 0;
        margin-bottom: 0;
			}
		}
    .copyright p {
      font-family: $font__tertiary;
      font-weight: $light;
      font-weight: $normal;
      font-size: rem(16);
    }
}

//Misc text styles
.meta-date {
  font-family: $font__secondary;
  font-weight: 200;
  @include media-max($medium) {
    font-size: rem(14);
    padding:rem(20) 0;
  }
}