@import "../../settings/variables";
.single-post-content{
  padding: rem(80) rem(30) rem(30);
  .block-inner{
    padding: rem(50) rem(80);
    max-width: 1200px;
    border: 1px solid $black-700;
  }
  .columns{
    display: flex;
    flex-flow: column;
    // align-items: center;
    align-items: flex-start;
    justify-content: center;
    > h1, > h2, > h3 {
      margin-bottom: rem(20);
    }
  }
  @include media-max($medium) {
    padding: rem(30);
    .block-inner {
      padding: rem(30);
    }
  }
}
@import "theme";