// Site variables.

// Default Border Radius
$border-radius: 3px;

// mq breakpoints.
$mq-breakpoints: (
	small: 600px,
	medium: 768px,
	large: 1024px,
	xlarge: 1240px
) !default;

$site_width: 1140px;
$wide_width: 1240px;
$padding-left: 15px;
$padding-right: 15px;

$margin-top: 60px;
$margin-bottom: 60px;
$row-max-width: 1440px;
$mobile-gutter-width: .625rem;
$gutter-width: .9375rem;
$medium: 641px;
$large: 1025px;
$xlarge: 1441px;
$xxlarge: 1921px;


/*----------------
		Font
------------------*/
// Global theme fonts.
$font__main: "Unna", sans-serif;
$font__secondary: "Montserrat";
$font__tertiary: 'Roboto', sans-serif;
// Global code font
$font__code: "Unna", sans-serif, monospace;
// Fallback font when font is not loaded via WebFonts JS.
$font__fallback: sans-serif;
// Base line height.
$font__base-line-height: 30px;

/*---------------------------------
		Font Weights
-----------------------------------*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
 
